<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.dao.UserDao">
	<sql id="userColumns">
		id,
		name
	</sql>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="com.cn.bean.User">
	    SELECT 
			<include refid="userColumns"/>
		FROM
			redis_user
		WHERE id=#{id}
	</select>
	
   <insert id="insertSelective" parameterType="com.cn.bean.User">
       <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      		SELECT LAST_INSERT_ID() as id
	   </selectKey>
       insert into redis_user (
           name
       ) values (
           #{name}
       )
   </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from redis_user
        where 
            id = #{id}
    </delete>
	
    <update id="updateUser" parameterType="com.cn.bean.User">
        update redis_user SET
           name=#{name}
        WHERE id=#{id}  
    </update>   
	
</mapper>